body {
  background-image: url("../images/background-ocean.png");
  margin: 0;
  padding: 0;
  font-family: "Handlee", cursive;
  font-family: "Urbanist", sans-serif;
  color: #002960;
  overflow: hidden;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
nav ul {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  float: left;
  list-style: none;
  align-items: center;

  -webkit-animation-name: bob-float, bloob;
  animation-name: bob-float, bloob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.2s, 3s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.links {
  font-weight: 800;
  letter-spacing: -1px;
  color: #002960;
  text-decoration: none;
  padding-right: 4vw;
  font-size: 25pt;
  text-shadow: rgba(255, 255, 255, 0.671) 1px 1px 1px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

#LogoImg {
  display: inline-flex;
  flex-direction: row;
  max-width: min-content;
  margin-left: -10%;
}
#LogoImg img {
  max-width: 550px;
}

#CardArea {
  max-width: 510px;
  background-color: rgba(255, 255, 255, 0.103);
  padding: 5px 50px 50px 50px;
  margin-left: -50vw;
  margin-top: -5vh;
  border-radius: 30px;

  -webkit-animation-name: bob-float, bloob;
  animation-name: bob-float, bloob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.2s, 3s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.1s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
#CardArea p {
  margin-top: -35px;
  font-size: 28pt;
  font-weight: bolder;
  text-align: justify;
  text-shadow: rgba(255, 255, 255, 0.671) 1px 1px 1px;
}
#CardArea span {
  margin-top: -35px;
  position: absolute;
  font-weight: bolder;
  font-size: 26.5pt;
  text-shadow: rgba(255, 255, 255, 0.671) 1px 1px 1px;
}
#CardArea h1 {
  font-size: 60pt;
  font-weight: bolder;
  text-shadow: rgba(255, 255, 255, 0.671) 6px 3px 1px;
}
strong {
  color: #003477;
  text-shadow: rgba(170, 170, 170, 0.671) 1px 1px 1px;
}
@-webkit-keyframes bloob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes bloob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes bloob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-transform: translatex(-50px);
    transform: translatex(-50px);
  }
}
@keyframes bloob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-transform: translatex(-50px);
    transform: translatex(-50px);
  }
}

#BotaoBaleiaAzul {
  -webkit-animation-name: bob-float, bloob;
  animation-name: bob-float, bloob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.2s, 3s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;

  background-color: rgba(255, 255, 255, 0.701);
  position: absolute;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 25pt;
  margin-left: -50vw;
  margin-top: 60vh;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: -1px;
  color: #0d4691;
}
